:root {
  --accordion-title-background: #f9f9f9;
  --accordion-body-border-color: transparent;
  --accordion-expand-rate: 0.25s;
  --accordion-open-title-background: #f1f1f1;
  --accordion-border-radius: 4px;
  --accordion-fan-accordion-border-style: 1px solid #DDD;
  --accordion-title-text-transform: capitalize;
}
accordion-element {
  width: 95%;
  margin-top: 0.1em;
  display: inline-block;
  height: unset;
  border-radius: var(--accordion-border-radius);
}
accordion-element > .accordion-title {
  padding: 1rem;
  background-color: var(--accordion-title-background);
  text-transform: var(--accordion-title-text-transform);
  border-radius: inherit;
}
accordion-element > .accordion-title:hover {
  cursor: pointer;
}
accordion-element > .accordion-body {
  border: 1px solid var(--accordion-body-border-color);
  width: 95%;
  transition: height var(--accordion-expand-rate);
  overflow: hidden;
}
accordion-element > .accordion-body > accordion-element {
  margin-left: 1em;
}
accordion-element:not(.open) > .accordion-body {
  height: 0 !important;
  border: 0;
}
accordion-element.open {
  height: max-content;
}
accordion-element.open > .accordion-title {
  background-color: var(--accordion-open-title-background);
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
accordion-fan {
  display: block;
  width: 95%;
  padding-top: 1vh;
}
accordion-fan > accordion-element {
  margin-top: -1vh;
  border: var(--accordion-fan-accordion-border-style);
  border-radius: 0;
  width: 100%;
}
accordion-fan > accordion-element > .accordion-title {
  width: auto;
}
accordion-fan > accordion-element:first-child {
  border-top-left-radius: var(--accordion-border-radius);
  border-top-right-radius: var(--accordion-border-radius);
}
accordion-fan > accordion-element:last-child {
  border-bottom-left-radius: var(--accordion-border-radius);
  border-bottom-right-radius: var(--accordion-border-radius);
}
