@accordion-title-background: #EDEDED;
@accordion-body-border-color: transparent;
@accordion-expand-rate: 0.25s;
@accordion-open-title-background: @accordion-title-background;
@accordion-border-radius: 4px;

// use this if you want to use css variables
:root {
  --accordion-title-background: @accordion-title-background;
  --accordion-body-border-color: @accordion-body-border-color;
  --accordion-expand-rate: @accordion-expand-rate;
  --accordion-open-title-background: @accordion-open-title-background;
  --accordion-border-radius: @accordion-border-radius;
}

accordion-element {
  width: 95%;
  margin-top: 0.1em;
  display: inline-block;
  height: unset;

  > .accordion-title {
	width: 100%;
	padding: 1rem;
	background-color: var(--accordion-title-background);
	text-transform: uppercase;
	border-radius: var(--accordion-border-radius);

	&:hover {
	  cursor: pointer;
	}
  }

  > .accordion-body {
	border: 1px solid var(--accordion-body-border-color);
	width: 95%;
	transition: height var(--accordion-expand-rate);
	overflow: hidden;
	> accordion-element {
	  margin-left: 1em;
	}
  }

  // closed accordion state
  &:not(.open) {
	> .accordion-body {
	  height: 0 !important;
	  border: 0;
	}
  }

  // open accordion state
  &.open {
	height: max-content;
	> .accordion-title {
	  background-color: var(--accordion-open-title-background);
	  border-bottom-left-radius: 0;
	  border-bottom-right-radius: 0;
	}
	
	> .accordion-body {
	  //overflow: visible;
	}
  }
}

accordion-fan > accordion-element {
  margin: -1vh auto !important;
}